@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Quicksand:wght@300;500&family=Roboto+Slab:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500&family=Playfair+Display:wght@500&family=Quicksand:wght@300;500&family=Roboto+Slab:wght@200;300&display=swap");
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sobre_mi {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sobre_mi h3 {
  margin-left: 25px;
  font-family: 'Playfair Display', serif;
  font-family: 'Quicksand', sans-serif;
}

.contenido_sobre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenido_sobre img {
  width: 60%;
  height: 60%;
}

.parrafo_sobre p {
  margin-left: 25px;
  margin-right: 25px;
  font-family: 'Playfair Display', serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto Slab', serif;
}

.linea {
  border: 1px solid #9E9E9E;
  width: 90%;
  margin: 10px 10px 10px 17px;
}

.proyectos {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.proyectos h3 {
  margin-left: 25px;
  font-family: 'Playfair Display', serif;
  font-family: 'Quicksand', sans-serif;
}

.proyectos .contenido_proyectos {
  margin-left: 55px;
  margin-right: 55px;
  border: 2px solid #757575;
  border-radius: 5px;
}

.proyectos .contenido_proyectos img {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  border-bottom: 2px solid #757575;
  height: 190px;
}

.proyectos .parrafo_proyecto h4 {
  font-family: 'Merriweather Sans', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto Slab', serif;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #212121;
}

.proyectos .parrafo_proyecto p {
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Playfair Display', serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto Slab', serif;
}

.proyecto {
  margin-bottom: 25px;
}

.linea_proyecto {
  border: 1px solid #9E9E9E;
  width: 84%;
  margin-left: 20px;
}
