@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #6D6E6D;
}

.wrapper { /*Fondo de la web*/
  background-color: #6D6E6D;
  background-size: cover;
  height: 100vh;
}

.navbar { /*Barra de navegación*/
  height: 80px;
  width: 100%;
  background: rgba(0,0,0,0.4);
}
/*
.logo {
  width: 110px;
  height: 65px;
  padding: 8px 100px;
}
*/
/*ENLACES*/

.navbar h2 {
  float: left;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-right: 20px;
  list-style: none;
  /*margin: 0 8px;*/
  display: inline-block;
  color: white;
  font-size: 20px;
  /*padding: 6px 13px;*/
  padding-left: 15px;
  font-family: 'Roboto', sans-serif;
}


.navbar ul {
  float: right;
  margin-right: 20px;
}

.navbar ul li {
  list-style: none;
  margin: 0 8px;
  display: inline-block;
  line-height: 80px;
}

.navbar ul li a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 6px 13px;
  font-family: 'Roboto', sans-serif;
  transition: .4s;
}

.navbar ul li a.active,
.navbar ul li a:hover{
  background: #6D6E6D;
  border-radius: 2px;
}

/*POSICION TEXTO*/
/*
.wrapper .center {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  font-family: sans-serif;
  user-select: none;
}
*/
/*COLOR & TAMAÑO*/
/*
.center h1 {
  color: white;
  font-size: 70px;
  font-weight: bold;
  width: 900px;
  text-align: center;
}

.center h2 {
  color: white;
  font-size: 40px;
  font-weight: bold;
  width: 880px;
  margin-top: 10px;
  text-align: center;
}
*/
/*BOTONES*/
/*
.center .buttons {
  margin: 35px 280px;
}

.buttons button {
  height: 50px;
  width: 150px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background: #3CBEFF; 
  border: 1px solid #3CBEFF;
  outline: none;
  cursor: pointer;
  border-radius: 25px;
}

.buttons .btn {
  margin-left: 25px;
}

.buttons button:hover {
  background: #00A9FD;
}
*/

footer {
  background-color: #6D6E6D;
}

.wrapper .temas h1, ul li a {
  font-family: 'Acme', sans-serif;
  padding-left: 10px;
}

.wrapper .temas ul li a {
  color: white;
}

.wrapper .temas h1, ul li a {
  font-family: 'Acme', sans-serif;
  padding-top: 5px;
  padding-bottom: 5px;
}